.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b1630;
  padding: 1rem 2rem;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f0c040;
}

.active {
  border-bottom: 2px solid #f0c040;
}